{#
/**
 * @file
 * Default theme implementation for main view template.
 *
 * Overridden from the base dgi_i8_base theme to provide additional
 * classes.
 *
 * Overriding base in this theme to customize the layout of the header content, and add additional classes.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A css-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 *
 * @see template_preprocess_views_view()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    dom_id ? 'js-view-dom-id-' ~ dom_id,
    display_type_class ? display_type_class,
    facets_active ? 'facets-active',
    facets ? '' : 'no-facets-selectable',
  ]
%}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title }}
  {{ title_suffix }}
  {% if header %}
    <header>
      <div class="flex-grid">
        <div class="header-result flex-col">
          <div class="result-search-wrapper">
            {% if header.result %}
              {{ header.result }}
            {% endif %}
            {% if header.search_terms_used %}
              {{ header.search_terms_used }}
            {% endif %}
          </div>
          {% if header.entity_block_1 %}
            {{ header.entity_block_1 }}
          {% endif %}
        </div>
        <div class="flex-col flex-items-center">
          {% if header.area %}
            {{ header.area }}
          {% endif %}
        </div>
        <div class="view-actions flex-col display-links">
          <div class="flex-items-right">
            {% if header.display_link_2 %}
              {{ header.display_link_2 }}
            {% endif %}
            {% if header.display_link_1 %}
              {{ header.display_link_1 }}
            {% endif %}
            {% if header.display_link %}
              {{ header.display_link }}
            {% endif %}

            {% if header.area_1 %}
              {{ header.area_1 }}
            {% endif %}
            {% if feed_icons %}
              {{ feed_icons }}
            {% endif %}
          </div>

        </div>
      </div>

      <div class="flex-grid flex-lower-grid">
        <div class="entity-blocks flex-col left">

          {% if header.entity_block %}
            {{ header.entity_block }}
          {% endif %}

          {{ exposed }}
        </div>
        <div class="header-pager flex-col center desktop-pager">
          {% if pager|render|trim|length > 0 %}
            {{ pager }}
          {% endif %}
        </div>

        <div class="filter-btn-wrapper flex-col right">
          {% if grid_sizer %}
            <div class="search-range-slider">
              {{ grid_sizer }}
            </div>
          {% endif %}
          <a href="#" class="filter-btn" aria-label="{{ "Hide or show the filter collections sidebar"|t }}" title="{{ 'Filter'|t }}">{{ 'Filter results'|t }}</a>
        </div>
      </div>
      <div class="flex-grid mobile-pager">
        <div class="header-pager flex-col center">
          {% if pager|render|trim|length > 0 %}
            {{ pager }}
          {% endif %}
        </div>
      </div>
    </header>
  {% endif %}

  {{ attachment_before }}

  <div class="container footer-content">
    <i class="visually-hidden spinner fas fa-circle-notch fa-spin"></i>
    {% if footer %}
      <footer class="col-lg-3 col-md-3">
        <div class="block-block-groupsearch-facet-header result-facets">
          <div class="filter-collection-toggle-box">
            <div class="title" tabindex="0" aria-label="{{ "Filter results sidebar"|t }}"><h2>{{ "Filter results"|t }}</h2></div>
            <div class="filter-close-wrapper"><button aria-label="{{ "Close Filter results sidebar"|t }}"><i title="{{ "Close Sidebar"|t }}" class="fal fa-times-circle filter-button-close"></i></button></div>
          </div>
          {{ footer }}
        </div>
      </footer>
    {% endif %}

    <div class="solr-search-row-content">
      {% if rows -%}
        {{ rows }}
      {% elseif empty -%}
        {{ empty }}
      {% endif %}
    </div>
  </div>

  {{ attachment_after }}
  {{ more }}
</div>
